body {
    font-family: arial;
}

.container {
}

.tile {
  background: url(hihi.jpg) no-repeat center;
  background-size: 25vh 25vh;
  width:25vh;
  height:25vh;
  display: block;
  margin-left: 0;
  margin-right: 0;
}

.wall {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
