body {
    font-family: arial;
    background: url('/hihi.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {

}

.navbar {
  background-color: #fff;
  margin: 0 75px 10px 75px;
  font-weight: bolder;
}

.tile {
  background: url('/hihi.jpg') no-repeat center;
  background-size: 25vh 25vh;
  width:25vh;
  height:25vh;
  display: block;
  margin-left: 0;
  margin-right: 0;
}

.wall {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.userImage {
  width: 25vh;
  height: 25vh;
}
